@import '../../Assets/css-global/vars.css';

.directory_navigation {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: baseline;
}

.directory_navigation > button {
    width: 20px;
    aspect-ratio: 1;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.directory_navigation > button:disabled {
    background-color: var(--disabled);
    cursor: auto;
}

.directory_navigation > button > img {
    height: 10px;
    pointer-events: none;
}

.directory_navigation > p {
    margin: 0;
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}
