.no_result_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 297px;
    gap: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.no_result_container > img {
    height: 100px;
    aspect-ratio: 1;
    pointer-events: none;
}

.no_result_container > h1 {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
}

.no_result_container > p {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: var(--text-medium);
    margin: 0;
}

.result_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    height: 500px;
    overflow-y: scroll;
}
