@import '../../Assets/css-global/vars.css';

.container {
    display: flex;
    align-items: center;
    background-color: var(--light);
    width: fit-content;
    height: fit-content;
    padding: 10px 16px;
    border: 1px solid var(--text);
    border-radius: 20px;
    gap: 15px;
}

.container > p {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
}

.container > button {
    background-color: transparent;
    cursor: pointer;
}

.container_selected.container_box {
    background-color: var(--primary);
}

.container_selected.container_box > p {
    color: var(--light);
}

.container_box,
.container_box > p {
    cursor: pointer;
}
