.container {
    display: flex;
    flex-direction: column;
    width: calc(calc(100vw / 2) - 250px);
}
.banner {
    height: 50px;
    background-color: var(--text);
    border-radius: 15px 15px 0 0;
    width: 100%;
}

.content {
    background-color: var(--light);
    border-radius: 0 0 15px 15px;
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
}

.header_area {
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.header_area > * {
    margin: 0;
}

.header_area > h1 {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header_area > p {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.header_area > button {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--light);
    background-color: var(--primary);
    margin-left: auto;
    border-radius: 10px;
    padding: 10px;
    align-self: flex-end;
    margin-bottom: 5px;
}

.genres_section {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    margin-top: 5px;
}

.overview_section {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 25px;
    margin-top: 30px;
    text-align: justify;
    cursor: pointer;
}

.overview_section_shrink {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
