@import '../../Assets/css-global/vars.css';

.container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    gap: 100px;
    height: calc(90vh - 50px);
}

.movies_directory {
    flex: 1;
}

.movie_information {
    flex: 1;
    height: 80%;
    max-height: 730px;
    background-color: var(--background);
    border-radius: 20px;
}

.directory_content {
    height: 80%;
    max-height: 730px;
    background-color: var(--background);
    border-radius: 20px;
    position: relative;
}

.directory_content {
    padding: 50px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}
