.searchbar {
    width: 100%;
    max-width: 480px;
    outline: none;
    border: 1px solid var(--text);
    height: 14px;
    border-radius: 5px;
    padding: 8px 13px;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    font-family: var(--font-primary);
}
