.main_toolbar {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.search_button {
    width: 30px;
    aspect-ratio: 1;
    border: none;
    outline: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--primary);
}

.search_button > img {
    height: 20px;
    pointer-events: none;
}
